colorBlack = #070605
colorGreen = #54A432

#view-quit
    color: colorBlack
    text-align: center

    & img
        margin: 0 auto 24px

    & a
        color: colorGreen

        &:hover
        &:active
        &:visited
            color: colorGreen
