@import "../_constants.sass"

.home-order-list-item
    padding: 24px 0
    border-bottom: 1px solid $colorLightGray

    span
        display: inline-block

        &.sm
            width: 64px
        &.med
            width: 96px
        &.lg
            width: 144px

    & button
        padding: 8px 16px
        border: none
        border-radius: 6px
        outline: none
        background-color: $colorRed
        color: $colorWhite
        font-size: 14px

        &:hover
            cursor: pointer

